@model List<DUNWorkflow.Models.Region>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Interactivo</title>
    <style>
        .region {
            fill: rgba(0, 255, 0, 0.5);
            stroke: #000;
            cursor: pointer;
        }

        #infoBox {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <svg id="arascaMap" xmlns="http://www.w3.org/2000/svg" height="1792" width="5000">
        <!-- Imagen de fondo -->
        <image href="/images/arasca_100.svg" height="1792" width="5000" />

        <path style="fill:#000000;opacity:0"
              d="m 2476.7737,1600.5068 c -0.4693,0.9384 -2.3461,2.3461 -1.4077,2.8153 0.9384,0.4692 1.8769,-3.7538 1.4077,-2.8153 -0.9385,1.8768 -1.7963,3.7962 -2.8154,5.6306 -0.3222,0.5801 -1.1109,0.8141 -1.4076,1.4076 -0.2099,0.4197 0.3318,1.0759 0,1.4077 -0.1659,0.1659 -0.538,-0.1659 -0.7039,0 -0.3954,0.3954 -0.5345,3.0114 -0.7038,3.5191 -0.1049,0.3148 -0.5554,0.4071 -0.7038,0.7039 -0.783,1.5661 -0.6662,3.4439 -1.4077,4.9268 -0.217,0.434 -0.1,12.4694 0,12.6689 0.3161,0.6321 1.129,3.2404 1.4077,3.5191 0.1659,0.1659 0.5379,-0.1659 0.7038,0 1.0558,1.0558 -1.0557,5.2788 0,6.3345 0.1659,0.1659 0.5989,-0.2098 0.7038,0 0.804,1.6079 0,5.8865 0,7.7421 0,5.8653 0,11.7305 0,17.5957 0,8.2114 0,16.4227 0,24.634 0,2.8433 0.8097,8.8324 0,11.2613 -0.1049,0.3148 -0.5989,0.3891 -0.7038,0.7038 -0.8077,2.4233 1.1301,6.1858 0,8.446 -1.7787,3.5574 -0.7038,9.894 -0.7038,14.0766 0,3.1382 -0.7866,13.1245 0,15.4842 0.8634,2.5902 1.5721,11.4717 0.7038,14.0766 -1.9525,5.8575 -0.7038,17.3257 -0.7038,23.9302 0,2.4807 -0.7218,11.9471 0.7038,13.3727 0.3318,0.3318 1.0759,-0.3318 1.4077,0 0.1659,0.1659 -0.2099,0.5989 0,0.7038 0.9402,0.4701 2.5113,-0.3359 3.5191,0 4.0624,1.3542 8.999,0.7039 13.3728,0.7039 15.2496,0 30.4992,0 45.7488,0 1.6506,0 -0.3317,-0.1659 1.4077,0.7038 1.3841,0.692 13.2544,0 14.7804,0 5.6306,0 11.2613,0 16.8919,0 2.4852,0 5.2947,0.4079 7.7421,0 9.7412,-1.6235 19.5716,-1.4077 29.5608,-1.4077 10.7921,0 21.5841,0 32.3762,0 5.1614,0 10.3228,0 15.4842,0 0.7245,0 0.8832,1.2283 1.4076,0.7039 0.8681,-0.8681 -0.6334,-1.3373 -0.7038,-1.4077 -0.1659,-0.1659 0,-0.4692 0,-0.7038 0,-0.2346 0.1659,-0.538 0,-0.7039 -0.1659,-0.1659 -0.5379,0.1659 -0.7038,0 -0.7038,-0.7038 0,-2.8153 -0.7038,-3.5191 -0.3318,-0.3318 -1.0759,0.3318 -1.4077,0 -0.4973,-0.4973 0.3859,-6.0165 0.7038,-6.3345 0.5546,-0.5546 3.6684,-1.5568 4.223,-2.1114 0.3318,-0.3318 -0.2098,-0.988 0,-1.4077 0.7283,-1.4566 0.7038,-2.4439 0.7038,-4.223 0,-0.2898 -0.1863,-1.9252 0,-2.1115 0.1659,-0.1659 0.538,0.1659 0.7039,0 0.6942,-0.6942 0.1909,-3.0062 0.7038,-3.5191 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.3254,-0.3254 -0.2125,-1.6865 0,-2.1115 0.1484,-0.2968 0.5555,-0.4071 0.7038,-0.7038 0.2099,-0.4197 -0.2098,-0.988 0,-1.4077 0.4223,-0.8446 1.6892,-1.2669 2.1115,-2.1115 0.105,-0.2098 -0.2098,-0.5989 0,-0.7038 0.4197,-0.2098 0.988,0.2098 1.4077,0 0.2098,-0.1049 -0.1659,-0.5379 0,-0.7038 0.3519,-0.3519 1.0557,-0.3519 1.4076,-0.7039 0.1659,-0.1658 -0.1658,-0.5379 0,-0.7038 0.3643,-0.3643 2.4511,-0.3395 2.8154,-0.7038 0.3519,-0.3519 0.3519,-1.0558 0.7038,-1.4077 0.3318,-0.3318 0.9625,0.1484 1.4077,0 5.3334,-1.7778 -0.2542,0.2542 1.4076,-1.4076 0.3318,-0.3318 1.0759,0.3318 1.4077,0 0.044,-0.044 1.9444,-3.1851 2.1115,-3.5192 0.3696,-0.7392 0.3385,-5.6573 0,-6.3344 -0.105,-0.2099 -0.538,0.1659 -0.7039,0 -0.5888,-0.5888 -0.038,-3.5576 -0.7038,-4.223 -1.4563,-1.4563 0.057,2.2253 -1.4077,-0.7038 -0.4255,-0.8512 -0.1606,-3.7908 0.7039,-4.223 1.3672,-0.6836 10.4935,0.064 11.2612,-0.7038 0.2506,-0.2506 0.6791,-2.0868 0.7039,-2.1115 0.1827,-0.1827 4.5735,-0.7039 5.6306,-0.7039 1.8371,0 8.5471,0.6533 9.8536,0 0.4292,-0.2146 1.879,-0.9426 2.1115,-1.4076 0.1049,-0.2098 -0.1659,-0.5379 0,-0.7038 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.3318,-0.3318 -0.2098,-0.988 0,-1.4077 0.2968,-0.5935 1.1109,-0.8141 1.4077,-1.4077 0.2098,-0.4196 -0.3318,-1.0758 0,-1.4076 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.3318,-0.3318 -0.2098,-0.988 0,-1.4077 0.4099,-0.8198 0.9977,-1.2916 1.4076,-2.1115 0.4972,-0.9943 0.023,-1.4303 0.7039,-2.1114 0.7076,-0.7077 3.9215,0.335 4.9268,0 5.0981,-1.6994 -1.1097,0.2029 2.1115,-1.4077 0.6295,-0.3148 1.4437,0.2226 2.1115,0 0.6295,-0.2098 0.8141,-1.1109 1.4076,-1.4077 2.2865,-1.1432 3.0714,-3.3274 4.223,-5.6306 0.5642,-1.1284 -0.8395,-2.7475 0.7038,-3.5191 0.5227,-0.2614 5.501,-1.278 5.6306,-1.4077 0.1659,-0.1659 -0.1659,-0.5379 0,-0.7038 0.1659,-0.1659 0.494,0.1049 0.7039,0 1.4076,-0.7038 2.1115,-2.8153 3.5191,-3.5192 0.2099,-0.1049 0.538,0.1659 0.7038,0 0.8573,-0.8572 0.3297,-1.5725 1.4077,-2.1114 1.0379,-0.519 4.1378,0.789 4.9268,0 0.1659,-0.1659 -0.1659,-0.538 0,-0.7039 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.1659,-0.1659 -0.1659,-0.5379 0,-0.7038 0.371,-0.371 1.0367,-0.3329 1.4077,-0.7038 0.3519,-0.3519 0.3519,-1.0558 0.7038,-1.4077 0.1659,-0.1659 0.538,0.1659 0.7038,0 0.352,-0.3519 -0.3519,-1.7596 0,-2.1115 0.9385,-0.9384 0.6754,1.4931 1.4077,-0.7038 0.2322,-0.6966 0.1538,-2.2653 0.7038,-2.8153 0.3519,-0.3519 1.0558,-0.3519 1.4077,-0.7039 0.1659,-0.1658 -0.1659,-0.5379 0,-0.7038 0.3318,-0.3318 1.0759,0.3318 1.4077,0 0.5865,-0.5865 0.1173,-2.2288 0.7038,-2.8153 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.1659,-0.1659 -0.1659,-0.5379 0,-0.7038 0.1659,-0.1659 0.494,0.1049 0.7038,0 2.9292,-1.4646 -0.7524,0.049 0.7039,-1.4077 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.1659,-0.1659 -0.1049,-0.494 0,-0.7038 0.4451,-0.8903 1.5594,-1.2833 2.1115,-2.1115 0.1301,-0.1952 -0.1659,-0.5379 0,-0.7038 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.1659,-0.1659 -0.1659,-0.538 0,-0.7039 0.7635,-0.7635 1.4447,-0.1111 2.1115,-2.1114 0.5179,-1.5538 -0.6374,-9.92 0,-10.5575 0.1659,-0.1659 0.5379,0.1659 0.7038,0 0.3318,-0.3318 -0.3318,-1.0758 0,-1.4076 0.3519,-0.3519 1.0558,-0.3519 1.4077,-0.7039 0.6757,-0.6756 -0.4443,-3.3343 0,-4.2229 0.1484,-0.2968 0.5554,-0.4071 0.7038,-0.7039 0.3378,-0.6755 -0.2253,-2.1394 0,-2.8153 0.1049,-0.3147 0.5555,-0.407 0.7038,-0.7038 0.2125,-0.425 -0.3253,-1.7861 0,-2.1115 0.1659,-0.1659 0.538,0.1659 0.7039,0 0.3967,-0.3967 2.1917,-5.5504 1.4076,-6.3345 -0.1659,-0.1658 -0.5379,0.1659 -0.7038,0 -0.1659,-0.1658 0.1049,-0.4939 0,-0.7038 -0.1357,-0.2713 -2.4136,-1.9106 -2.8153,-2.1115 -0.7475,-0.3737 -2.1879,-0.076 -2.8153,-0.7038 -0.7109,-0.7109 0.6551,-7.1356 0,-8.4459 -0.1484,-0.2968 -0.5555,-0.4071 -0.7039,-0.7039 -0.2124,-0.4249 0.3254,-1.7861 0,-2.1115 -0.8469,-0.8469 -1.5744,-0.083 -2.8153,-0.7038 -2.9291,-1.4646 0.7524,0.049 -0.7038,-1.4076 -0.618,-0.618 -4.9549,1.0698 -5.6306,1.4076 -0.5936,0.2968 -0.8142,1.1109 -1.4077,1.4077 -0.2098,0.1049 -0.5379,-0.1659 -0.7038,0 -0.1659,0.1659 0.1659,0.5379 0,0.7038 -0.7839,0.7839 -5.1427,0 -6.3345,0 -7.9767,0 -15.9534,0 -23.9302,0 -2.6298,0 -6.5679,0.6455 -9.1497,0 -0.3219,-0.081 -0.4071,-0.5554 -0.7039,-0.7038 -0.5696,-0.2849 -22.1809,-0.2614 -23.2263,0 -2.2612,0.5653 -5.1735,1.1791 -7.0383,2.1115 -0.4692,0.2346 -0.2346,1.173 -0.7038,1.4076 -0.4197,0.2099 -0.9626,-0.1484 -1.4077,0 -1.1187,0.3729 -1.752,2.2837 -2.8153,2.8153 -0.2098,0.105 -0.5379,-0.1659 -0.7038,0 -0.1659,0.1659 0.1659,0.538 0,0.7039 -0.5403,0.5402 -2.2157,0.404 -2.8154,0.7038 -0.2098,0.1049 0.1953,0.5737 0,0.7038 -0.8048,0.5366 -2.1313,0.02 -2.8153,0.7038 -0.1659,0.1659 0.1659,0.538 0,0.7039 -0.7546,0.7546 -4.5018,-0.2822 -5.6306,0 -1.2739,-0.4242 -1.309,1.1401 -2.1115,1.4076 -2.7454,0.9152 -16.4813,-0.059 -19.7072,-0.7038 -0.3597,-0.072 -1.8684,0.243 -2.1115,0 -0.1659,-0.1659 0.2099,-0.5989 0,-0.7038 -0.7299,-0.365 -3.5936,0.1573 -4.223,0 -0.3218,-0.081 -0.389,-0.5989 -0.7038,-0.7039 -1.6726,-0.5575 -3.7628,-0.9406 -5.6306,-1.4076 -1.9453,-0.4863 -4.4368,0.6325 -6.3345,0 -1.5997,-0.5333 -2.7728,-1.8485 -4.2229,-2.8153 -0.6173,-0.4116 -1.5869,-0.1793 -2.1115,-0.7039 -0.1659,-0.1658 0.1659,-0.5379 0,-0.7038 -0.1659,-0.1659 -0.4692,0 -0.7039,0 -0.2346,-0.4692 -0.3328,-1.0367 -0.7038,-1.4076 -0.3519,-0.352 -1.7596,0.3519 -2.1115,0 -0.1659,-0.1659 0.1659,-0.538 0,-0.7039 -0.4977,-0.4977 -1.4437,0.2226 -2.1115,0 -0.3147,-0.1049 -0.407,-0.5554 -0.7038,-0.7038 -2.0646,-1.0323 -5.6775,1.0323 -7.7421,0 -0.5935,-0.2968 -0.8141,-1.1109 -1.4077,-1.4077 -0.4196,-0.2098 -1.0758,0.3318 -1.4076,0 -0.1659,-0.1659 0.1659,-0.5379 0,-0.7038 -0.8145,-0.8144 -4.1124,-1.297 -4.9268,-2.1115 -0.1659,-0.1659 0.1659,-0.5379 0,-0.7038 -0.8305,-0.8304 -3.8758,-0.8822 -4.9268,-1.4077 -0.2099,-0.1049 0.1659,-0.5379 0,-0.7038 -0.5733,-0.5733 -5.3562,-0.3777 -6.3345,-0.7038 -0.3147,-0.1049 -0.4071,-0.5555 -0.7038,-0.7038 -0.7508,-0.3754 -2.0646,0.3753 -2.8153,0 -1.6969,-0.8485 -2.9668,-1.4582 -4.9268,-2.1115 -0.6335,-0.2112 -1.4781,0.2111 -2.1115,0 -1.1261,-0.3754 -5.5434,-3.7402 -6.3345,-4.9268 -0.291,-0.4365 -0.3329,-1.0367 -0.7038,-1.4077 -0.1659,-0.1659 -0.494,0.1049 -0.7038,0 -1.4127,-0.7063 -2.9743,-3.1332 -3.5192,-4.223 -1.4646,-2.9291 0.049,0.7525 -1.4076,-0.7038 -1.4563,-1.4562 2.2253,0.057 -0.7039,-1.4077 -0.8934,-0.4467 -2.7053,-0.5938 -3.5191,-1.4076 -0.4027,-0.4027 -0.4094,-1.7788 -1.4077,-2.1115 -0.4451,-0.1484 -0.9879,0.2098 -1.4076,0 -0.4692,-0.2346 -0.2346,-1.173 -0.7039,-1.4077 -0.8553,-0.4276 -2.9752,-0.1599 -3.5191,-0.7038 -0.1659,-0.1659 0.2098,-0.5989 0,-0.7038 -1.2049,-0.6025 -5.9247,-0.098 -7.7421,-0.7038 -8.7738,-2.9246 -29.1423,-1.4077 -39.4144,-1.4077 -1.3712,0 -12.6411,0.7247 -12.6689,0.7038 -1.7304,-1.2978 -3.2846,-2.8153 -4.9268,-4.2229 z"
              id="t26"
              inkscape:label="t26" 
              onclick="showRegionInfo('t26', event)" />
        <path style="fill:#000000;opacity:0"
              d="m 2478.9547,1601.0434 c -5.7797,-7.4121 6.8578,8.675 -2.9861,-3.9814 -0.7984,-1.0266 -1.4882,-1.4834 -1.9907,-2.4884 -0.1991,-0.3982 0.1991,-1.0949 0,-1.4931 -0.293,-0.5859 -1.1625,-2.6555 -1.493,-2.9861 -0.1173,-0.1173 -0.3804,0.1173 -0.4977,0 -0.3519,-0.3519 0,-0.9953 0,-1.493 0,-1.5473 -0.485,-4.0196 0,-5.4745 0.4634,-1.3902 1.0387,-2.6184 1.493,-3.9815 0.2479,-0.7436 1.0257,-9.1617 0.4977,-9.9536 -0.2603,-0.3904 -0.6636,-0.6636 -0.9954,-0.9954 -0.1658,-0.4977 -0.2066,-1.0565 -0.4976,-1.493 -0.092,-0.1381 -0.3804,0.1173 -0.4977,0 -0.1318,-0.1318 0,-1.2881 0,-1.4931 0,-1.1901 -0.4464,-5.5771 0,-6.4698 0.5084,-1.0169 1.1812,-0.8695 1.493,-1.4931 0.4242,-0.8483 1.1924,-2.0841 1.4931,-2.9861 0.1049,-0.3147 -0.1484,-0.6986 0,-0.9953 0.074,-0.1484 0.3804,0.1173 0.4977,0 0.2308,-0.2309 0.7554,-10.1758 0.4976,-10.9491 -1.2016,-3.6049 0.1435,0.7847 -0.9953,-1.493 -0.52,-1.04 0.1806,-2.2174 -0.9954,-3.9815 -0.2603,-0.3904 -0.7855,-0.5756 -0.9954,-0.9953 -0.2654,-0.5309 0.2655,-1.4599 0,-1.9907 -0.1049,-0.2099 -0.3927,-0.2879 -0.4976,-0.4977 -0.8943,-1.7885 0.8989,-6.6627 0,-8.4606 -0.6045,-1.2089 -0.215,-1.923 -0.4977,-2.4884 -0.4231,-0.8463 -1.0894,-1.6812 -1.4931,-2.4884 -0.3318,-0.6636 0.3318,-1.8249 0,-2.4885 -0.1049,-0.2098 -0.4235,-0.2751 -0.4976,-0.4976 -0.3224,-0.9672 0.4534,-2.5769 0,-3.4838 -0.074,-0.1484 -0.3493,0.074 -0.4977,0 -0.9063,-0.4531 -0.2918,-0.3775 -0.4977,-0.9954 -0.4552,-1.3656 -1.4978,-2.4908 -2.4884,-2.9861 -1.205,-0.6025 -1.6481,-2.3171 -2.9861,-2.9861 -0.5288,-0.2644 -1.3565,-0.7839 -1.9907,-0.9953 -0.3148,-0.105 -0.7608,0.2346 -0.9954,0 -0.1173,-0.1173 0.1173,-0.3804 0,-0.4977 -0.2885,-0.2885 -1.7023,-0.7069 -1.9907,-0.9954 -0.1173,-0.1173 0.074,-0.3493 0,-0.4977 -0.3812,-0.7622 -0.8869,-0.3892 -1.4931,-0.9953 -0.2085,-0.2086 -0.3469,-1.1914 -0.4977,-1.4931 -0.4791,-0.9582 -2.7602,-1.447 -1.9907,-2.9861 0.48,-0.96 0.8423,-0.1723 1.4931,-0.4976 0.5855,-0.2928 1.367,-1.9278 1.493,-1.9908 0.2968,-0.1484 0.6806,0.1049 0.9954,0 0.7869,-0.2623 1.2488,-1.1221 1.9907,-1.493 0.6546,-0.3273 1.2703,-0.2576 1.9907,-0.4977 0.62,-0.2067 1.5189,-1.5189 1.9907,-1.9907 1.6507,-1.6506 -0.4692,0.2346 0.9954,-0.4977 0.79,-0.395 1.1646,-1.6623 1.4931,-1.9907 0.1173,-0.1173 0.3803,0.1173 0.4976,0 0.2623,-0.2623 0.2354,-0.7331 0.4977,-0.9954 0.1173,-0.1173 0.3493,0.074 0.4977,0 0.5972,-0.2986 0.8958,-1.1944 1.4931,-1.4931 1.89,-0.945 -2.5041,3.4994 1.9907,-0.9953 0.3057,-0.3058 0.3288,-1.1598 0.9953,-1.4931 0.2968,-0.1483 0.6986,0.1484 0.9954,0 0.929,-0.4645 1.6272,-1.4165 2.4884,-1.9907 0.6017,-0.4011 1.6712,0.047 2.4884,-0.4977 0.1381,-0.092 -0.1173,-0.3804 0,-0.4977 0.9079,-0.9078 5.2745,-0.4976 6.4699,-0.4976 0.1185,0 2.765,-0.2212 2.9861,0 0.1173,0.1173 -0.1173,0.3803 0,0.4976 0.1282,0.1283 5.4386,0.9595 5.4745,0.9954 0.1173,0.1173 -0.1173,0.3804 0,0.4977 0.1317,0.1317 1.2881,0 1.493,0 4.5169,0 9.0107,0.2401 13.4375,-0.4977 1.9649,-0.3275 4.0301,-0.012 5.9721,-0.4977 1.3471,0.8459 1.2869,-0.7607 1.9908,-0.9953 1.1567,-0.3856 1.8602,-0.4325 2.9861,-0.9954 0.4181,-0.2091 2.2148,-0.2241 2.4884,-0.4977 1.1751,-1.1751 -2.7759,0.2617 0.9953,-0.9953 0.4198,-0.14 1.1001,0.1965 1.4931,0 3.1495,-1.5748 8.0543,-1.0411 10.949,-2.4885 0.5952,-0.2976 9.2514,-0.2341 9.9536,0 1.0767,0.3589 2.0674,0.536 2.9861,0.9954 0.3001,0.15 10.2592,0.096 10.4514,0 0.4196,-0.2098 0.5756,-0.7855 0.9953,-0.9954 0.6343,-0.3171 3.3472,-0.6782 3.9815,-0.9953 0.4197,-0.2099 0.5757,-0.7855 0.9953,-0.9954 0.1484,-0.074 0.3804,0.1173 0.4977,0 0.1173,-0.1173 -0.1173,-0.3804 0,-0.4977 0.2346,-0.2346 0.6986,0.1484 0.9954,0 0.4197,-0.2098 0.5502,-0.847 0.9954,-0.9953 0.3231,-0.1078 3.4785,-0.9902 3.4837,-0.9954 0.1173,-0.1173 -0.1173,-0.3804 0,-0.4977 0.5607,-0.5606 14.0269,0.7007 15.4282,0 2.8251,-1.4126 9.5429,-2.1724 12.9397,-1.493 0.3638,0.073 0.6435,0.3803 0.9954,0.4977 0.6476,0.2158 1.9242,-0.1129 2.4884,0 1.3117,0.2623 2.6697,0.733 3.9814,0.9953 0.5643,0.1129 1.8408,-0.2159 2.4885,0 1.6548,0.5516 1.1117,0.6141 1.493,0.9954 0.2446,0.2446 8.4808,0.8227 9.456,0.4977 0.1959,-0.065 4.8484,-2.3601 4.9768,-2.4884 0.1173,-0.1174 -0.074,-0.3493 0,-0.4977 0.3811,-0.7623 0.8869,-0.3892 1.493,-0.9954 0.1173,-0.1173 -0.1173,-0.3804 0,-0.4977 0.3318,-0.3317 0.6636,0.3318 0.9954,0 0.2787,-0.2787 0.2859,-0.7589 0.9954,-0.9953 0.7395,-0.2466 4.9735,-0.9921 4.9768,-0.9954 0.2623,-0.2623 0.2354,-0.7331 0.4977,-0.9954 0.1655,-0.1656 1.8903,0.034 1.9907,0 0.2226,-0.074 0.2878,-0.3927 0.4977,-0.4976 0.393,-0.1966 1.0733,0.1399 1.493,0 0.3519,-0.1174 0.6355,-0.4078 0.9954,-0.4977 1.3009,-0.3253 3.1401,0 4.4791,0 3.6497,0 7.2994,0 10.949,0 4.811,0 9.6219,0 14.4328,0 0.3037,0 1.7968,-0.1939 1.9907,0 0.1173,0.1173 -0.1173,0.3803 0,0.4977 0.2489,0.2488 1.2442,-0.2489 1.4931,0 0.1173,0.1173 -0.074,0.3493 0,0.4976 1.0356,2.0713 -0.034,-0.532 0.9953,0.4977 0.2086,0.2086 0.3469,1.1914 0.4977,1.4931 0.1049,0.2098 0.3318,0.3317 0.4977,0.4976 0.1659,0.1659 0.3928,0.2879 0.4977,0.4977 0.2225,0.4451 0.2582,3.742 0.4977,3.9815 0.1173,0.1173 0.4235,-0.1484 0.4977,0 0.4324,0.8648 0.1281,3.8681 0.4976,4.9768 0.3532,1.0596 0.6422,1.9265 0.9954,2.9861 0.1991,0.5972 -0.1991,1.3935 0,1.9907 0.1484,0.4452 0.7855,0.5757 0.9954,0.9954 0.3318,0.6636 -0.3318,1.8248 0,2.4884 0.074,0.1484 0.3803,-0.1173 0.4977,0 0.3206,0.3206 -0.1566,1.521 0,1.9907 0.5516,1.6548 0.6141,1.1118 0.9953,1.4931 0.3519,0.3519 -0.1574,1.0209 0,1.493 0.074,0.2226 0.3928,0.2879 0.4977,0.4977 0.2637,0.5274 -0.188,1.4268 0,1.9907 1.2016,3.605 -0.1435,-0.7846 0.9954,1.4931 0.1483,0.2967 -0.2346,0.7607 0,0.9953 0.1173,0.1173 0.3803,-0.1173 0.4976,0 0.3316,0.3316 -0.3316,0.6638 0,0.9954 1.9908,1.9907 -0.8294,-2.1566 0.4977,0.4977 0.3811,0.7622 0.8869,0.3892 1.4931,0.9954 0.2847,0.2847 0.2895,1.2577 0.9953,1.493 0.3148,0.1049 0.6806,-0.1049 0.9954,0 0.9615,0.3205 1.1618,0.73 2.4884,0.9954 1.4825,0.2965 4.119,-0.6778 5.4745,0 0.2099,0.1049 0.2879,0.3927 0.4977,0.4976 0.2968,0.1484 0.7608,-0.2346 0.9954,0 0.1173,0.1174 -0.1173,0.3804 0,0.4977 0.2346,0.2346 0.6806,-0.1049 0.9953,0 0.9285,0.3095 1.2398,0.6199 1.9908,0.9954 0.2967,0.1484 0.6986,-0.1484 0.9953,0 0.9392,0.4696 2.0154,1.0077 2.9861,1.493 0.4197,0.2099 0.5757,0.7856 0.9954,0.9954 0.2967,0.1484 0.7607,-0.2346 0.9953,0 0.2086,0.2086 0.3469,1.1914 0.4977,1.4931 0.4204,0.8406 1.32,0.3245 1.9908,0.9953 0.1173,0.1173 -0.074,0.3493 0,0.4977 0.4976,0.9954 1.9907,1.493 2.4884,2.4884 0.2721,0.5444 0.4817,1.4771 0.9953,1.9907 0.1173,0.1173 0.3804,-0.1173 0.4977,0 0.1173,0.1173 -0.074,0.3493 0,0.4977 0.5608,1.1216 1.9499,1.9092 2.4884,2.9861 1.0356,2.0712 -0.034,-0.532 0.9954,0.4977 0.2488,0.2488 0.2488,0.7465 0.4977,0.9954 0.5302,0.5301 3.8508,3.1696 4.4791,3.4837 0.1484,0.074 0.4235,-0.1483 0.4977,0 0.1484,0.2968 -0.1484,0.6986 0,0.9954 0.1484,0.2968 0.6986,-0.1484 0.9954,0 0.3317,0.1659 0.1658,0.8295 0.4976,0.9954 2.8202,0 0.1659,-0.3318 0.9954,0.4976 0.1487,0.1487 1.9267,-0.016 1.9907,0 0.3599,0.09 0.6355,0.4078 0.9954,0.4977 3.5576,0.8894 8.0506,-1.2003 11.4467,0.4977 0.8039,0.402 2.8414,2.2743 3.4838,2.4884 0.3147,0.1049 0.6986,-0.1484 0.9953,0 0.1484,0.074 -0.1173,0.3804 0,0.4977 0.2346,0.2346 0.6806,-0.1049 0.9954,0 1.8042,0.6014 0.3542,0.2361 1.493,0.9954 1.2504,0.8336 3.5868,1.5935 4.9768,1.9907 1.8127,0.5179 4.2927,0.6533 5.9722,1.493 0.3005,0.1503 1.263,-0.23 1.4931,0 1.0297,1.0298 -1.5736,-0.04 0.4977,0.9954 2.5938,1.2969 4.5428,3.2668 6.9675,4.4791 2.0712,1.0357 -0.532,-0.034 0.4977,0.9954 0.2885,0.2885 1.7023,0.7069 1.9907,0.9954 0.1173,0.1173 -0.074,0.3493 0,0.4977 0.1511,0.302 3.7919,3.3889 3.9815,3.4837 2.7404,1.3702 6.9128,1.7282 9.9536,2.4884 1.7769,0.4443 3.2051,-0.3881 4.9768,0.4977 0.7392,0.3696 2.9199,-0.5639 3.4838,0 0.1659,0.1659 -0.3318,0.3318 -0.4977,0.4977 -0.2346,0.2346 0.2346,0.7608 0,0.9954 -0.5361,0.5361 -0.6164,0.059 -1.493,0.4977 0,7e-4 -0.5896,1.2225 -0.9954,1.493 -0.3318,0.1659 -0.6635,0.3318 -0.9953,0.4977 -0.1659,0 -0.3493,-0.074 -0.4977,0 -2.0713,1.0356 0.532,-0.034 -0.4977,0.9953 -0.7623,0.7624 -1.1404,0.9262 -1.9907,1.4931 -0.4096,0.273 -2.2785,0.2877 -2.4884,0.4977 -0.1173,0.1173 0.1173,0.3803 0,0.4977 -0.1173,0.1173 -0.3804,-0.1174 -0.4977,0 -0.3263,0.3262 -0.2484,1.7413 -0.4977,1.9907 -0.1173,0.1173 -0.3804,-0.1173 -0.4977,0 -0.2812,0.2812 -0.6246,1.62 -0.9954,1.9907 -0.2953,0.2954 -4.3892,-0.4078 -4.4791,-0.4977 -0.1173,-0.1173 0.1173,-0.3803 0,-0.4977 -0.2446,-0.2445 -5.0021,0.025 -5.4745,0.4977 -0.5806,0.5807 0.5806,2.9032 0,3.4838 -0.1173,0.1173 -0.4235,-0.1484 -0.4977,0 -0.2654,0.5309 0.2655,1.4599 0,1.9907 -0.3811,0.7623 -0.8869,0.3892 -1.493,0.9954 -0.2489,0.2488 -0.2489,0.7465 -0.4977,0.9954 -0.8765,0.8764 -10.2865,-0.829 -11.9444,0 -0.3318,0.1659 -0.1659,0.8294 -0.4977,0.9953 -0.2093,0.1047 -1.834,0.1844 -1.9907,0.4977 -0.1484,0.2968 0.2346,0.7608 0,0.9954 -0.2346,0.2346 -0.7193,-0.1841 -0.9954,0 -0.017,0.011 -2.3624,2.8601 -2.4884,2.9861 -0.2884,0.2884 -1.7022,0.7069 -1.9907,0.9953 -0.035,0.035 -1.7213,3.2144 -1.9907,3.4838 -0.1173,0.1173 -0.3493,-0.074 -0.4977,0 -0.9398,0.4699 -1.0953,1.593 -1.493,1.9907 -0.3684,0.3684 -1.4931,0.2884 -1.4931,0.9954 0,1.3867 -2.9693,7.4316 -3.9814,9.456 -0.5311,1.062 -0.4644,-0.067 -0.9954,0.9953 -0.4674,0.9348 0.4977,1.7197 0.4977,2.4884 0,0.205 -0.1318,1.3613 0,1.4931 0.1173,0.1173 0.3803,-0.1173 0.4977,0 0.5482,0.5482 -0.5113,5.4474 0,6.4698 0.074,0.1484 0.3803,-0.1173 0.4976,0 1.0298,1.0298 -1.5735,-0.04 0.4977,0.9954 0.2821,0.1411 2.3794,1.384 2.4884,1.4931 0.3263,0.3262 0.2484,1.7413 0.4977,1.9907 0.1173,0.1173 0.3804,-0.1173 0.4977,0 0.4585,0.4585 0,3.8519 0,4.4791 0,0.3037 -0.1939,1.7968 0,1.9908 0.1173,0.1173 0.3804,-0.1174 0.4977,0 0.1173,0.1173 -0.1173,0.3803 0,0.4976 0.1173,0.1173 0.3803,-0.1173 0.4977,0 0.2346,0.2346 -0.2347,0.7608 0,0.9954 0.1173,0.1173 0.3803,-0.1173 0.4976,0 0.5761,0.576 -0.5462,6.8704 0,7.9629 0.8938,1.7875 2.6042,3.2177 3.4838,4.9768 0.1503,0.3005 -0.23,1.263 0,1.4931 0.1173,0.1173 0.3804,-0.1173 0.4977,0 0.2301,0.23 -0.1503,1.1925 0,1.493 0.2899,0.5798 0.7055,0.9133 0.9954,1.4931 0.2146,0.4292 0.2128,3.7686 0,3.9814 -0.1173,0.1173 -0.3804,-0.1173 -0.4977,0 -0.1659,0.1659 -0.3318,1.3272 -0.4977,1.4931 -0.3045,0.3045 -5.5577,-0.1824 -6.4699,0 -5.2785,1.0557 -10.4956,0.9953 -15.9258,0.9953 -3.5737,0 -10.8642,0.6142 -13.9351,0 -3.7658,-0.7531 -7.5899,-0.4976 -11.4467,-0.4976 -3.327,0 -6.803,-0.29 -9.9536,0.4976 -0.4829,0.1207 -1.0479,-0.2225 -1.4931,0 -1.214,0.6071 -2.6249,0.5432 -3.9814,0.9954 -0.2226,0.074 -0.2752,0.4235 -0.4977,0.4977 -0.3148,0.1049 -0.6806,-0.1049 -0.9954,0 -1.0704,0.3568 -2.253,1.2469 -3.4838,1.493 -1.7908,0.3582 -3.7456,0.4191 -5.4745,0.9954 -0.5278,0.176 -3.3569,1.8639 -3.4837,1.9907 -0.1173,0.1173 0.1173,0.3804 0,0.4977 -0.1173,0.1173 -0.3804,-0.1173 -0.4977,0 -1.0297,1.0297 1.5735,-0.04 -0.4977,0.9954 -0.1484,0.074 -0.3804,-0.1173 -0.4977,0 -0.1173,0.1173 0.1173,0.3804 0,0.4977 -0.4128,0.4128 -6.7432,3.2431 -7.4652,3.4837 -0.3733,0.1245 -1.0576,-0.062 -1.4931,0 -7.4505,1.0644 -0.5768,-0.1395 -3.9814,0.9954 -1.1684,0.3894 -3.2374,0 -4.4792,0 -5.598,0 -11.0014,0.089 -16.4235,-0.9954 -0.9571,-0.1914 -2.029,0.1914 -2.9861,0 -1.9546,-0.3909 -4.842,-1.1768 -6.4698,-1.9907 -0.1484,-0.074 -0.3318,0 -0.4977,0 -0.3318,0 -0.6986,0.1484 -0.9954,0 -0.1484,-0.074 0.1173,-0.3804 0,-0.4977 -0.1632,-0.1632 -1.6193,-0.8096 -1.9907,-0.9953 -1.0748,-0.5374 -2.8726,-0.2562 -3.9815,-0.9954 -0.138,-0.092 0.1484,-0.4235 0,-0.4977 -0.4544,-0.2272 -1.9842,0.084 -2.4884,0 -1.6896,-0.2816 -4.1001,-0.8059 -5.4745,-1.493 -0.2967,-0.1484 -0.7607,0.2346 -0.9953,0 -0.423,-0.423 -0.5725,-1.0701 -0.9954,-1.4931 -0.1173,-0.1173 -0.3597,0.092 -0.4977,0 -0.5856,-0.3904 -0.8635,-1.1783 -1.493,-1.493 -1.083,-0.5415 -2.6685,-1.1648 -3.9815,-1.4931 -0.413,-0.1032 -1.116,0.1885 -1.493,0 -1.2644,-0.6322 0.5096,-0.5948 -1.4931,-0.9953 -0.488,-0.098 -1.0102,0.1207 -1.493,0 -0.2368,-0.059 -1.2563,-0.9362 -1.4931,-0.9954 -0.064,-0.016 -1.842,0.1487 -1.9907,0 -0.1173,-0.1173 0.138,-0.4057 0,-0.4977 -0.6173,-0.4115 -1.3272,-0.6636 -1.9907,-0.9954 -0.2968,-0.1483 -0.7608,0.2347 -0.9954,0 -0.1173,-0.1173 0.1173,-0.3803 0,-0.4976 -0.1417,-0.1418 -2.3279,-1.2737 -2.9861,-1.4931 -0.7465,-0.2488 -1.7419,0.2489 -2.4884,0 -0.9008,0.3 -0.9256,-0.8062 -1.493,-0.9953 -0.787,-0.2623 -1.6751,0.1626 -2.4885,0 -0.3637,-0.073 -0.6354,-0.4078 -0.9953,-0.4977 -2.2579,-0.5645 -1.9806,0.2539 -4.4792,-0.9954 -0.7182,-0.3591 -3.8598,0.6193 -4.4791,0 -0.1173,-0.1173 0.1173,-0.3804 0,-0.4977 -0.3689,-0.3689 -1.373,0.1201 -1.9907,-0.4977 -0.3123,-0.3122 -0.6106,-1.6059 -0.9954,-1.9907 -0.1659,-0.1659 -1.3271,-0.3318 -1.493,-0.4977 -0.1173,-0.1173 0,-0.3318 0,-0.4976 -0.1659,-0.1659 -0.3318,-0.3318 -0.4977,-0.4977 -0.1659,-0.1659 -0.3318,-0.3318 -0.4977,-0.4977 -0.1659,0 -0.3804,0.1173 -0.4977,0 -0.8888,-0.8889 -1.3754,-2.5608 -1.9907,-3.4838 -0.6839,-1.0258 -1.5632,-0.638 -1.9907,-1.493 -0.074,-0.1484 0.138,-0.4057 0,-0.4977 -3.0111,-2.0074 -0.1993,0.7215 -2.4885,-0.9954 -0.3753,-0.2815 -0.5756,-0.7855 -0.9953,-0.9953 -0.424,-0.212 -1.6087,-0.1157 -1.9907,-0.4977 -0.1174,-0.1173 0.1173,-0.3804 0,-0.4977 -0.1174,-0.1173 -0.3597,0.092 -0.4977,0 -0.3904,-0.2603 -0.605,-0.7351 -0.9954,-0.9954 -0.4084,-0.2722 -2.3299,-0.6783 -2.4884,-0.9953 -0.1484,-0.2968 0.1484,-0.6986 0,-0.9954 -0.046,-0.092 -1.3164,-0.4094 -1.4931,-0.4977 -0.9033,-0.4516 -0.056,-1.1174 -0.9953,-1.493 -0.7854,-0.3142 -1.7318,-0.1194 -2.4884,-0.4977 -0.6765,-0.3382 -1.3143,-1.1548 -1.9908,-1.4931 -1.0503,-0.5251 -5.0248,-0.2086 -6.4698,-0.4976 -7.4545,-1.4909 -15.256,-0.9954 -22.8934,-0.9954 -2.5211,0 -14.4337,-0.4972 -15.4281,0 -0.2099,0.1049 -0.2752,0.4235 -0.4977,0.4977 -0.724,0.2413 -16.1569,0.2667 -16.9212,-0.4977 -0.1173,-0.1173 0.058,-0.3424 0,-0.4977 -0.4436,-1.183 -0.9954,-2.3225 -1.4931,-3.4838 z"
              id="t25"
              onclick="showRegionInfo('t25', event)" />
        <path style="fill:#000000;opacity:0"
              d="m 2399.8233,1463.1855 c 0.6635,0.1659 1.8248,1.1612 1.9907,0.4977 0.1659,-0.6636 -2.5379,-0.9081 -1.9907,-0.4977 -0.5222,8.6004 3.0177,1.26 4.4791,1.9907 0.4197,0.2099 0.5757,0.7855 0.9954,0.9954 0.2967,0.1484 0.7607,-0.2346 0.9953,0 0.1173,0.1173 -0.1173,0.3804 0,0.4977 0.2494,0.2493 1.6645,0.1714 1.9908,0.4976 0.1173,0.1173 -0.1173,0.3804 0,0.4977 0.2346,0.2346 0.6986,-0.1484 0.9953,0 1.9455,0.9727 5.2373,0.9954 7.4653,0.9954 1.1612,0 2.3225,0 3.4837,0 0.4977,0 1.1412,-0.3519 1.4931,0 0.017,0.017 0.3205,1.3158 0.4977,1.493 0.9191,0.9191 2.5803,1.3132 3.4837,1.9908 0.2589,0.1941 2.5515,2.0538 2.9861,2.4884 0.1173,0.1173 -0.1173,0.3804 0,0.4977 0.3576,0.3575 2.0925,0.5994 2.4884,0.9953 0.7466,0.7465 1.2443,1.7419 1.9908,2.4884 0.1844,0.1845 1.6832,0.344 1.9907,0.4977 1.1004,0.5502 0.1544,0.3089 0.4977,0.9954 0.2986,0.5972 1.1944,0.8958 1.493,1.493 0.2787,0.5574 0.2346,1.4646 0.4977,1.9908 0.2099,0.4196 0.7351,0.6049 0.9954,0.9953 0.172,0.2581 0.297,1.2924 0.4977,1.4931 0.5098,0.5098 0.7545,0.01 1.493,0.4976 0.5242,0.3495 0.7329,1.2306 0.9954,1.4931 0.7829,0.7829 2.8466,0.8559 3.4837,1.493 0.5866,0.5866 0.7512,1.6198 1.4931,1.9908 1.9007,0.9503 4.5381,3.6017 5.4745,5.4745 0.3944,0.7889 1.5996,0.9064 1.9907,1.493 0.1841,0.2761 -0.1484,0.6986 0,0.9954 0.063,0.1254 0.789,0.3945 0.9954,0.4977 0.6858,0.3429 0.6695,1.1672 0.9954,1.493 0.1658,0.1659 1.3271,0.3318 1.493,0.4977 0.1173,0.1173 -0.1173,0.3804 0,0.4977 0.8585,0.8585 3.4412,2.4671 4.4791,2.9861 1.2706,0.6352 2.1952,2.3418 3.4838,2.9861 0.2968,0.1483 0.7608,-0.2346 0.9954,0 0.1173,0.1173 -0.074,0.3493 0,0.4976 1.0356,2.0713 -0.034,-0.532 0.9953,0.4977 0.2347,0.2346 -0.2346,0.7608 0,0.9954 0.2489,0.2488 0.7466,0.2488 0.9954,0.4977 0.3422,0.3422 0.3371,3.0019 0.4977,3.4837 0.074,0.2226 0.3927,0.2879 0.4977,0.4977 0.3159,0.6319 -0.2205,1.827 0,2.4884 0.074,0.2226 0.3927,0.2879 0.4977,0.4977 0.3653,0.7307 -0.2413,2.0059 0.4976,3.4838 0.4285,0.857 -0.398,3.1854 0.4977,4.9768 0.6636,1.3272 -0.6636,3.6497 0,4.9768 0.6825,1.365 0.1687,2.3281 0.4977,2.9861 1.0356,2.0713 -0.034,-0.532 0.9954,0.4977 0.133,0.1331 0.7628,4.5118 0.9953,4.9768 0.2899,0.5798 0.7055,0.9133 0.9954,1.4931 0.2654,0.5308 -0.2654,1.4598 0,1.9907 0.1049,0.2099 0.3928,0.2879 0.4977,0.4977 0.2814,0.5628 -0.2085,13.0675 -0.4977,13.9351 -0.074,0.2226 -0.3928,0.2878 -0.4977,0.4977 -0.6636,1.3271 0.6636,3.6496 0,4.9768 -0.3629,0.7258 -0.7961,0.7962 -0.9954,0.9954 -0.2346,0.2346 0.2347,0.7607 0,0.9953 -0.5318,0.5319 -0.9953,-0.7075 -0.9953,0.4977 0,0.614 -0.2608,1.9668 0,2.4884 0.074,0.1484 0.3804,-0.1173 0.4977,0 0.2488,0.2489 -0.2489,1.2442 0,1.4931 0.1173,0.1173 0.3803,-0.1173 0.4976,0 0.2494,0.2493 0.1715,1.6644 0.4977,1.9907 0.1173,0.1173 0.3804,-0.1173 0.4977,0 0.3009,0.3009 0.4977,6.3465 0.4977,7.4652 0,0.057 -0.4838,5.4329 -0.4977,5.4745 -0.074,0.2226 -0.3928,0.2879 -0.4977,0.4977 -0.4626,0.9252 0.3299,2.4941 0,3.4838 -0.074,0.2226 -0.3927,0.2878 -0.4977,0.4977 -0.2516,0.5033 -0.2511,3.9768 0,4.4791 1.5931,3.1862 -0.5977,-2.1908 0.9954,0.9954 0.074,0.1484 -0.1173,0.3803 0,0.4977 0.1173,0.1173 0.3804,-0.1174 0.4977,0 0.1308,0.1307 1.4664,7.0209 0.9954,7.9629 -0.105,0.2098 -0.3928,0.2878 -0.4977,0.4976 -0.1484,0.2968 0.2967,0.847 0,0.9954 -0.2968,0.1484 -0.6986,-0.1484 -0.9954,0 -0.1484,0.074 0.1173,0.3804 0,0.4977 -0.1173,0.1173 -0.3804,-0.1173 -0.4977,0 -0.1173,0.1173 0.092,0.3596 0,0.4977 -0.2602,0.3904 -0.6635,0.6636 -0.9953,0.9953 -0.2623,0.2623 -0.8295,0.1659 -0.9954,0.4977 -0.1484,0.2968 0.1484,0.6986 0,0.9954 -0.011,0.022 -1.3613,0.6001 -1.493,0.9954 -0.4118,1.2353 0.1374,1.2181 -0.4977,2.4884 -0.6271,1.2541 0,8.6789 0,10.4513 0,0.7508 -0.1196,14.3132 0,14.4328 0.1173,0.1173 0.4056,-0.1381 0.4977,0 0.6307,0.9461 0.2344,3.2205 0.9953,3.9814 0.1173,0.1173 0.3804,-0.1173 0.4977,0 0.259,0.259 0,1.57 0,1.9908 0,1.4798 -0.4705,6.5241 0,7.4652 0.4595,0.919 0.7629,1.8239 0.9954,2.9861 0.3003,1.5017 0,3.4239 0,4.9768 0,3.6497 0,7.2993 0,10.949 0,2.9219 0.5951,10.0614 0,12.4421 -0.6009,2.4032 -0.2365,-0.025 -0.9954,1.493 -0.3318,0.6636 0.3318,1.8248 0,2.4884 -0.074,0.1484 -0.3804,-0.1173 -0.4977,0 -0.2351,0.2351 -0.3311,5.8056 -0.4977,5.9722 -0.1173,0.1173 -0.3803,-0.1173 -0.4976,0 -0.259,0.259 0,1.5699 0,1.9907 0,4.9769 0,9.9537 0,14.9305 0,1.8163 -0.5115,5.9309 0,7.4652 0.074,0.2226 0.4234,0.2751 0.4976,0.4977 0.8959,2.6875 -0.8958,6.2708 0,8.9583 0.373,1.1189 0.1934,2.0731 0.4977,2.9861 0.074,0.2226 0.4235,0.2751 0.4977,0.4977 0.5641,1.6923 0,13.8258 0,16.4235 0,11.7785 0,23.5569 0,35.3354 0,1.1672 -0.1173,-0.2346 0.4977,0.9954 0.4837,0.9675 -0.7552,4.2216 0,4.9768 0.1173,0.1173 0.3804,-0.1173 0.4977,0 0.5806,0.5806 -0.5807,2.9031 0,3.4838 0.05,0.05 1.1115,0.3815 0.4976,0.9953 -1.5243,1.5243 -12.1929,-0.332 -13.4374,0.4977 -0.3904,0.2603 -0.6049,0.7351 -0.9953,0.9954 -0.9468,0.6311 -2.9509,-0.5153 -3.9815,0 -1.3505,0.6753 -2.3443,0.1767 -2.9861,0.4977 -2.5149,1.2574 -6.9529,0.4976 -9.9536,0.4976 -0.8275,0 -2.1814,-0.2682 -2.9861,0 -4.1876,1.3959 -11.2984,0.4977 -15.9259,0.4977 -5.7339,0 -13.4563,0.8662 -18.9119,-0.4977 -2.244,-0.561 -7.7406,0 -9.9536,0 -7.797,0 -15.5941,0 -23.3911,0 -3.3462,0 -8.2635,0.6367 -11.4467,0 -0.3637,-0.073 -0.6434,-0.3803 -0.9953,-0.4976 -0.7109,-0.237 -2.9834,0.5003 -3.4838,0 -0.5099,-0.51 0.4145,-7.7148 0,-8.9583 -0.074,-0.2226 -0.3928,-0.2879 -0.4977,-0.4977 -0.441,-0.882 -0.2049,-12.6179 0,-13.4374 0.09,-0.3599 0.4077,-0.6355 0.4977,-0.9954 0.4337,-1.735 0,-4.1874 0,-5.9722 0,-0.4718 -0.2067,-1.5774 0,-1.9907 0.1049,-0.2098 0.4235,-0.2751 0.4977,-0.4977 0.6807,-2.0421 -0.8248,-7.8065 0,-9.4559 0.1049,-0.2099 0.4408,-0.2701 0.4977,-0.4977 0.3777,-1.5111 0,-3.9183 0,-5.4745 0,-4.3133 0,-8.6265 0,-12.9398 0,-1.262 -0.4081,-3.7526 0,-4.9768 0.074,-0.2226 0.3927,-0.2878 0.4976,-0.4977 0.3217,-0.6434 -0.1746,-1.7899 0,-2.4884 0.1273,-0.5089 0.3948,-0.9786 0.4977,-1.493 0.2199,-1.0994 0.4024,-11.6374 0,-12.4421 -1.1232,-2.2464 -1.7992,-1.2058 -2.9861,-2.9861 -0.092,-0.138 0.1173,-0.3803 0,-0.4976 -0.2623,-0.2623 -0.733,-0.2354 -0.9953,-0.4977 -0.2623,-0.2623 -0.2354,-0.7331 -0.4977,-0.9954 -1.4118,-1.4118 -3.8876,-1.9282 -5.4745,-2.9861 -0.1381,-0.092 0.1484,-0.4235 0,-0.4977 -0.2876,-0.1438 -1.7576,-0.148 -1.9907,-0.4977 -0.291,-0.4364 -0.2067,-1.0565 -0.4977,-1.493 -0.074,-0.1106 -1.3793,-0.3839 -1.4931,-0.4977 -0.2624,-0.2624 -0.4712,-1.1436 -0.9953,-1.493 -0.2933,-0.1956 -1.7868,-0.2937 -2.4884,-0.9954 -0.108,-0.108 -0.4007,-0.9468 -0.4977,-0.9954 -0.2968,-0.1483 -0.6986,0.1484 -0.9954,0 -0.1484,-0.074 0.1173,-0.3803 0,-0.4976 -0.092,-0.092 -1.4013,-0.406 -1.493,-0.4977 -0.2623,-0.2623 -0.2354,-0.7331 -0.4977,-0.9954 -0.2086,-0.2085 -1.1914,-0.3469 -1.4931,-0.4977 -0.4197,-0.2098 -0.5757,-0.7855 -0.9953,-0.9953 -0.5621,-0.2811 -4.9464,-1.4626 -4.9769,-1.4931 -0.1173,-0.1173 0.1173,-0.3804 0,-0.4977 -0.1848,-0.1848 -2.3772,-1.1886 -2.986,-1.493 -0.2968,-0.1484 -0.7608,0.2346 -0.9954,0 -0.2623,-0.2623 -0.2354,-0.7331 -0.4977,-0.9954 -0.6917,-0.6917 -2.211,-1.1055 -2.9861,-1.493 -0.5395,-0.2698 -2.7091,-1.9344 -2.9861,-2.4884 -0.074,-0.1484 0.1173,-0.3804 0,-0.4977 -0.1173,-0.1173 -0.3804,0.1173 -0.4977,0 -0.2346,-0.2346 0.2346,-0.7608 0,-0.9954 -0.1173,-0.1173 -0.3803,0.1173 -0.4976,0 -0.2301,-0.23 0.1502,-1.1925 0,-1.493 -0.105,-0.2099 -0.3928,-0.2879 -0.4977,-0.4977 -0.2851,-0.5701 0.4626,-8.4255 0.4977,-8.4606 0.1173,-0.1173 0.3803,0.1173 0.4976,0 0.1999,-0.1999 -0.094,-1.2116 0,-1.493 -0.2999,-0.9008 0.8063,-0.9256 0.9954,-1.4931 0.1574,-0.4721 -0.3519,-1.1411 0,-1.493 0.1173,-0.1173 0.3804,0.1173 0.4977,0 0.2346,-0.2346 -0.2346,-0.7608 0,-0.9954 0.1173,-0.1173 0.4235,0.1484 0.4977,0 0.2225,-0.4451 -0.2226,-1.0479 0,-1.493 0.403,-0.8061 1.2216,-1.6743 1.493,-2.4885 0.1624,-0.4873 0.2649,-3.7486 0.4977,-3.9814 0.1173,-0.1173 0.3804,0.1173 0.4977,0 0.1656,-0.1657 0.7857,-2.0692 0.9953,-2.4884 0.3338,-0.6676 0.184,-1.861 0.4977,-2.4884 0.343,-0.6859 1.1672,-0.6696 1.4931,-0.9954 0.1776,-0.1776 1.9302,-2.9256 1.9907,-2.9861 0.2488,-0.2488 0.7465,-0.2488 0.9954,-0.4977 0.2346,-0.2346 -0.2346,-0.7607 0,-0.9953 0.1173,-0.1173 0.3493,0.074 0.4976,0 0.9855,-0.4928 1.7663,-2.264 1.9908,-2.4885 0.1173,-0.1173 0.3803,0.1174 0.4977,0 0.1173,-0.1173 -0.1174,-0.3803 0,-0.4976 0.1173,-0.1173 0.3803,0.1173 0.4976,0 0.1173,-0.1173 -0.074,-0.3493 0,-0.4977 1.0357,-2.0712 -0.034,0.532 0.9954,-0.4977 0.1173,-0.1173 -0.074,-0.3493 0,-0.4977 0.5649,-1.1299 2.2334,-1.9825 2.9861,-2.9861 0.7663,-1.0218 1.0816,-2.5746 1.9907,-3.4837 0.2623,-0.2623 0.7331,-0.2354 0.9954,-0.4977 0.4494,-0.4495 0.6989,-1.8955 0.9954,-2.4884 1.0356,-2.0713 -0.034,0.532 0.9953,-0.4977 0.1173,-0.1173 -0.074,-0.3493 0,-0.4977 0.4516,-0.9031 2.2329,-1.7352 2.4884,-1.9907 0.1173,-0.1173 -0.1173,-0.3804 0,-0.4977 0.2489,-0.2489 0.7465,-0.2489 0.9954,-0.4977 1.0297,-1.0297 -1.5736,0.04 0.4977,-0.9954 0.3857,-0.1928 1.1469,-0.2669 1.493,-0.4976 2.309,0.4258 0.5724,-1.0701 0.9954,-1.4931 0.2623,-0.2623 0.733,-0.2354 0.9953,-0.4977 0.1174,-0.1173 -0.1173,-0.3803 0,-0.4977 0.1174,-0.1173 0.3804,0.1174 0.4977,0 0.1659,-0.1658 0.3318,-1.3271 0.4977,-1.493 0.3318,-0.1659 0.6636,-0.3318 0.9954,-0.4977 0,-0.1659 -0.1173,-0.3804 0,-0.4977 0.1173,-0.1173 0.4235,0.1484 0.4977,0 0.1483,-0.2967 -0.1484,-0.6986 0,-0.9953 0.6967,-1.3935 2.787,-2.0903 3.4837,-3.4838 0.2437,-0.4873 0.7326,-0.9675 0.9954,-1.4931 0.1484,-0.2967 -0.2346,-0.7607 0,-0.9953 0.2346,-0.2346 0.7608,0.2346 0.9954,0 0.1173,-0.1173 -0.074,-0.3493 0,-0.4977 0.5413,-1.0828 1.4652,-0.9397 1.9907,-1.9907 0.3333,-0.6666 1.1873,-0.6896 1.493,-0.9954 0.2885,-0.2884 0.7069,-1.7023 0.9954,-1.9907 0.3058,-0.3058 1.1598,-0.3288 1.493,-0.9954 0.1484,-0.2967 -0.1483,-0.6986 0,-0.9953 0.4772,-0.9544 0.9798,-1.9596 1.4931,-2.9861 0.3669,-0.7339 -0.2351,-2.0183 0.4977,-3.4838 0.2388,-0.4777 -0.1593,-1.5128 0,-1.9907 0.074,-0.2226 0.4235,-0.2752 0.4977,-0.4977 0.972,-2.9163 -1.3836,0.8859 0.9953,-1.4931 0.1173,-0.1173 -0.1173,-0.3803 0,-0.4977 0.1173,-0.1173 0.3804,0.1174 0.4977,0 0.1656,-0.1655 -0.034,-1.8902 0,-1.9907 0.074,-0.2226 0.3928,-0.2878 0.4977,-0.4977 0.4542,-0.9085 0,-4.649 0,-5.9722 0,-4.645 0,-9.29 0,-13.9351 0,-1.7801 -0.3941,-13.6446 0,-14.4327 1.0356,-2.0713 -0.034,0.532 0.9953,-0.4977 0.1174,-0.1173 -0.074,-0.3493 0,-0.4977 0.4376,-0.8752 4.1345,-4.5556 4.9769,-4.9768 0.3016,-0.1508 1.2845,-0.2891 1.493,-0.4977 0.1659,-0.1659 0.3318,-1.3272 0.4977,-1.493 0.1173,-0.1174 0.3804,0.1173 0.4977,0 0.1173,-0.1174 -0.074,-0.3493 0,-0.4977 0.3759,-0.7519 1.727,-1.1997 1.9907,-1.9908 0.1049,-0.3147 -0.1484,-0.6986 0,-0.9953 0.074,-0.1484 0.3493,0.074 0.4977,0 2.0712,-1.0356 -0.532,0.034 0.4977,-0.9954 0.1173,-0.1173 0.4235,0.1484 0.4977,0 0.1483,-0.2967 -0.1484,-0.6986 0,-0.9953 0.074,-0.1484 0.3803,0.1173 0.4976,0 0.1095,-0.1095 1.3127,-2.6253 1.4931,-2.9861 0.3429,-0.6859 1.1672,-0.6696 1.493,-0.9954 0.1659,-0.1659 0.3318,-1.3272 0.4977,-1.4931 1.0297,-1.0297 -0.04,1.5736 0.9954,-0.4976 0.074,-0.1484 -0.1173,-0.3804 0,-0.4977 0.1173,-0.1173 0.3804,0.1173 0.4977,0 0.2346,-0.2346 -0.2346,-0.7608 0,-0.9954 0.1173,-0.1173 0.3803,0.1173 0.4976,0 0.1173,-0.1173 -0.1173,-0.3804 0,-0.4977 0.1173,-0.1173 0.3804,0.1173 0.4977,0 0.1715,-0.1714 0.9363,-1.8725 0.9954,-1.9907 0.1996,-0.3992 3.6246,-3.2458 3.9814,-3.4838 0.2581,-0.172 1.2924,-0.297 1.4931,-0.4976 0.1173,-0.1174 -0.1173,-0.3804 0,-0.4977 1.0297,-1.0298 -0.04,1.5735 0.9954,-0.4977 0.074,-0.1484 -0.1173,-0.3804 0,-0.4977 0.2847,-0.2848 1.2577,-0.2895 1.493,-0.9954 0.2163,-0.6489 0.1918,-1.3789 0.4977,-1.9907 0.1659,-0.3318 0.8295,-0.1659 0.9953,-0.4977 0.1484,-0.2967 -0.1483,-0.6986 0,-0.9953 0.7933,-1.5866 1.6944,-3.3888 2.4885,-4.9769 0.6366,-1.2732 0,-4.5624 0,-5.9721 0,-4.7368 0.042,-7.0928 1.493,-11.4467 0.2488,-0.7466 -0.4977,-0.4977 0,-1.4931 0.074,-0.1484 0.4235,0.1484 0.4977,0 0.4394,-0.8789 0,-3.4782 0,-4.4791 0,-1.0234 0.079,-1.1531 0.4977,-1.9907 0.7639,-1.5279 -0.5161,-8.8849 0,-10.9491 0.09,-0.3598 0.3803,-0.6434 0.4977,-0.9953 0.8967,-2.6901 -0.8963,-7.2648 0,-9.9537 1.2817,-3.8451 0.4666,-8.5849 -0.4977,-12.442 z"
              id="t28" 
              onclick="showRegionInfo('t28', event)" />
    </svg>

    <div id="markerModal" class="modal">
        <div class="modal-content">
            <h4>Seleccionar un tipo de marcador</h4>
            <select id="markerTypeSelect">
                <option value="Heroes">Heroes</option>
                <option value="Danger">Peligro</option>
                <option value="Custom">Personalizado</option>
                <option value="Home">Hogar</option>
            </select>
            <button id="acceptButton" onclick="acceptSelection('markerModal', 'markerTypeSelect')">Aceptar</button>
            <button id="cancelButton" onclick="closeModal('markerModal')">Cancelar</button>
        </div>
    </div>

    <div id="elementModal" class="modal">
        <div class="modal-content">
            <h4>Seleccionar un tipo de elemento</h4>
            <select id="elementTypeSelect"></select>
            <br>
            <br>
            <button id="acceptButton" onclick="acceptSelection('elementModal', 'elementTypeSelect')">Aceptar</button>
            <button id="cancelButton" onclick="closeModal('elementModal')">Cancelar</button>
        </div>
    </div>

    <script>
        const svg = document.getElementById('mysvg');
        const overlay = document.getElementById('overlay');

        let clickTimeout; // Variable para almacenar el temporizador
        let clickCount = 0; // Contador de clics
        let offsetX = 0;
        let offsetY = 0;
        // Obtener los datos de regiones desde el ViewBag
        var regions = @Html.Raw(ViewBag.RegionsJson);

        // Función para mostrar la información de la región y cargar los elementos
        function showRegionInfo(regionCode, event) {
            clickCount++;

            if (clickCount === 1) { //click simple
                clickTimeout = setTimeout(function() {
                // Buscar la región por código
                var region = regions.find(function(r) {
                    return r.regionCode === regionCode;
                });

                // Si se encuentra la región
                if (region) {
                    // Mostrar los elementos de la región
                    var elementList = region.elements.map(e => e.type).join(", ");
                    //alert("Region: " + region.regionCode + "\n" + "Elementos: " + elementList);

                    // Limpiar el select antes de agregar nuevas opciones
                    var select = document.getElementById("elementTypeSelect");
                    select.innerHTML = '';  // Eliminar cualquier opción existente

                    // Rellenar el select con los elementos de la región
                    region.elements.forEach(function(element) {
                        var option = document.createElement("option");
                        option.value = element.type;
                        option.textContent = element.type;
                        select.appendChild(option);
                    });

                    // Mostrar el modal
                    document.getElementById("elementModal").style.display = "block";
                } else {
                    alert("No se encontró la región");
                }
                    clickCount = 0; // Resetear contador después de un clic simple
                }, 300); // Tiempo en milisegundos para detectar el doble clic (ajustable)
            } else if (clickCount === 2) {
                // Si hay un segundo clic, es un clic doble
                offsetX = event.offsetX;
                offsetY = event.offsetY;

                document.getElementById("markerModal").style.display = "block";
                clearTimeout(clickTimeout); // Detener el temporizador del clic simple
                clickCount = 0; // Resetear contador después de un clic doble
            }

            
        }

        // Función para aceptar la selección
        function acceptSelection(modal, select) {
           
            elementType = document.getElementById(select).value;
            //alert("Elemento seleccionado: " + elementType);

            // Aquí puedes agregar más lógica para mostrar más detalles o realizar una acción adicional.
            if (modal === 'markerModal') {
              
            switch (elementType) {
                case 'Heroes':
                    addMarker('ico_mk_h');
                    break;
                case 'Danger':
                     addMarker('ico_mk_jo');
                    break;
                case 'Custom':
                     addMarker('ico_mk_p');
                    break;
                case 'Home':
                    addMarker('ico_mk_ho');
                    break;
            }
        }

            closeModal(modal);
        }

        // Función para cerrar el modal
        function closeModal(modal) {
            document.getElementById(modal).style.display = "none";
        }

            // Función para agregar el marcador en el punto donde se hizo el clic
        function addMarker(markerImage) {

            // Crear el <g> para el marcador
            const markerGroup = document.createElementNS('http://www.w3.org/2000/svg', 'g');
            markerGroup.id = 'overlay';
            markerGroup.setAttribute('draggable', 'true');

            // Crear la imagen para el marcador
            const image = document.createElementNS('http://www.w3.org/2000/svg', 'image');
            //image.id = 'heromarker';
            image.setAttribute('href', `/images/${markerImage}.png`);
            image.setAttribute('width', '100');
            image.setAttribute('height', '100');

            image.setAttribute('x', offsetX - 50); // Ajuste para centrar la imagen
            image.setAttribute('y', offsetY - 50); // Ajuste para centrar la imagen

            markerGroup.appendChild(image);

            // Añadir el marcador al SVG
            document.getElementById('arascaMap').appendChild(markerGroup);

            // Hacer que el marcador sea arrastrable
            addDragAndDrop(image);

            // Agregar el evento de doble clic a la imagen para borrar
            image.addEventListener('dblclick', function() {
                const confirmDelete = confirm("¿Estás seguro de que deseas borrar este marcador?");
                if (confirmDelete) {
                    markerGroup.remove(); // Eliminar el marcador
                }
            });
        }

        // Función para añadir drag and drop a un marcador
        function addDragAndDrop(element) {
            let isDragging = false;
            let initialOffsetX, initialOffsetY;

            element.addEventListener('mousedown', function(event) {
                isDragging = true;
                initialX = event.clientX; // Coordenadas absolutas en el viewport
                initialY = event.clientY; // Coordenadas absolutas en el viewport
            });

            element.addEventListener('mousemove', function(event) {
                if (isDragging) {
                    // Calcular el desplazamiento desde el punto de inicio
                    const dx = event.clientX - initialX;
                    const dy = event.clientY - initialY;

                    // Actualizar las coordenadas de la imagen en el SVG
                    const newX = parseFloat(element.getAttribute('x')) + dx;
                    const newY = parseFloat(element.getAttribute('y')) + dy;

                    element.setAttribute('x', newX);
                    element.setAttribute('y', newY);

                    // Actualizar la posición inicial para el próximo movimiento
                    initialX = event.clientX;
                    initialY = event.clientY;
                }
            });

            element.addEventListener('mouseup', function() {
                isDragging = false;
            });

            element.addEventListener('mouseleave', function() {
                isDragging = false;
            });
        }

    </script>

</body>
</html>
